@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Cocogoose';
  src: url("../fonts/Cocogoose_trial.woff") format("woff"),
       url("../fonts/Cocogoose_trial.eot") format("eot");
}

$ff-accent: 'Cocogoose', sans-serif;
$ff-body: 'Lato', sans-serif;
$ff-support: 'Montserrat', sans-serif;

$fw-normal: 400;
$fw-semibold: 700;
$fw-bold: 900;

@mixin set-font($ff:$ff-body, $fs, $fw:$fw-normal, $ls:normal, $lh:1, $color:$dark, $tt:none) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  letter-spacing: $ls;
  line-height: $lh;
  color: $color;
  text-transform: $tt;
}